/*.player{
    
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: fixed!important;
  bottom: 0%;
  left: -0.9%;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 105%;
  height: auto;
  margin: 0 10px;
  box-shadow: 0 1px 10px gray;
  padding: 10px;
  border-radius: 5px;
}

#musicName {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 30px;
}

.controls button{
  border: none;
  background-color: white;
  cursor: pointer;
  border-radius: 20px;
  margin: 10px;
}

.controls i{
  font-size: 25px;
  padding: 5px;
  border-radius: 50%;
  background-color: #f7f7f7;
  transition: all .2s;
}
main{
  height: 100vh;
}*/

@media only screen and (max-width: 361px) /*celular */{
  *{
    margin: 0%;
    
  }

  .carousel-container {
    position: relative;
    text-align: justify;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
  }

  .carousel {
    display: flex;
    transition: transform 1s ease-in-out;
  }

  .carrossel {
    width: 97%;
    height: 200px;
    margin-left: 10px;
  }

  .legenda{
    position: absolute;
    top: 65%;
    right: 40%;
    left: 5%;
    right: 3%;
    color: #f7f7f7;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    src: url(LexendGiga-VariableFont_wght.ttf)
    format("truetype");
  }
  body{
    background-color: #201919;
  }
  #Destaques{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    src: url(LexendGiga-VariableFont_wght.ttf)
    format("truetype");
    color: #f7f7f7;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 7%;
    margin-left: 6.94%;
  }
  .squareone{
   margin-top: 8.33%;
   margin-left: 9.72%;
   width: 90.28%;
   height: 7.43%;
  }
  #capa1{
    width: 20%;
    height: 20%;
    border-radius: 20px;
  }
  .PRIh1{
    font-size: smaller;
    float: right;
    margin-right: 45%;
    margin-top: 4%;
    color: #f7f7f7;
  }
  .squaretwo{
    margin-top: 2.7%;
    margin-left: 9.72%;
    width: 90.28%;
    height: 7.43%;
   }
   #capa2{
    width: 20%;
    height: 20%;
    border-radius: 20px;
  }
  .SEGh1{
    font-size: smaller;
    float: right;
    margin-left: 5%;
    margin-right: 45%;
    margin-top: 4%;
    color: #f7f7f7;
  }

  .squarethree{
    margin-top: 2.7%;
    margin-left: 9.72%;
    width: 90.28%;
    height: 7.43%;
   }
   #capa3{
     width: 20%;
     height: 20%;
     border-radius: 20px;
   }
   .TREh1{
     font-size: smaller;
     float: right;
     margin-right: 45%;
     margin-top: 4%;
     color: #f7f7f7;
   }

   .menus{
    margin-left: 100%;
    display: grid;
    gap: 5%;
    grid-auto-flow: column;
    grid-auto-columns: 10%;
    overflow: auto;
    overscroll-behavior-inline: contain;
    margin-inline: 10px;
   }
/*06/11 - menu hambúrguer*/
   h2{
    position: relative;
    margin-top: 100px;
    margin-left: -45px;
    text-align: center;
    color: #f7f7f7;
    font-size: smaller;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    src: url(LexendGiga-VariableFont_wght.ttf)
   }
   .image{
    width: 90px;
    height: 90px;
   }
   
   .playy{
    width: 20%;
    position: absolute;
    margin-left: 74%;
    margin-top: -22.5%;
   }
   .playbutton{
    position: absolute;
    margin-left: 47%;
    margin-top: 18%;
   }

   .playbutton1{
    position: absolute;
    margin-left: 19%;
    margin-top: 18%;
   }

   .image > img{
    inline-size: 100%;
    aspect-ratio: 9 / 9;
   }

   .titulo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    src: url(LexendGiga-VariableFont_wght.ttf)
    format("truetype");
    color: #F3DDA3;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: larger;
    margin-left: 6.94%;  
    margin-top: 10%;
   }
  
   aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 60%;
    margin-top: 20%;
    float: right;
    position: absolute;
  }
  
  a {
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: white;
    text-decoration: underline;
  }
  
  #menuToggle {
    display: block;
    position: relative;
    left: 75%;
    margin-top: 30%;
    z-index: 1;
    user-select: none;
  }
  
  #menuToggle input {
    display: block;
    width: 30px;
    height: 22px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;  
    opacity: 0;
    z-index: 2;
  }
  
  #menuToggle span {
    display: block;
    width: 4px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;  
    background: #f7f7f7;
    border-radius: 3px;
  }
  
  #menuToggle input:checked ~ span {
    opacity: 1;
    position: relative;
    transform: initial;
    background: whitesmoke;    
  }
  
  #menu {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    src: url(LexendGiga-VariableFont_wght.ttf)
    format("truetype");
    color: #f7f7f7;
    position: absolute;
    display: block;
    width: 300px;
    height: 300px;
    margin: -30px 50px 20px -293px;
    background: #4D3784;
    list-style-type: none;  
    transform: translate(100%, 0%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    text-align: left;
    border-radius: 20px;
  }

  #menu li
  {
    padding: 10px 0;
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    src: url(LexendGiga-VariableFont_wght.ttf)
    format("truetype");
    color: #f7f7f7;
  }
  
  #menuToggle input:checked ~ ul {
    transform: none;
  }
 .fundo-pop-up{
  border-radius: 10px;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 20%;
 }
 h3{
  position: absolute;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  src: url(LexendGiga-VariableFont_wght.ttf)
  format("truetype");
  font-size: x-small;
  font-weight: lighter;
  color: white;
  margin-top: -17%;
  margin-left: 13%;
  margin-right: 11%;
  text-align: justify;
 }

  .singers{
    margin-top: 30%;
    width: 90px;
    height: 90px;
    border-radius: 100px;
  }

  footer{
    background-color: rgb(56, 48, 48);
  }
  
  .logo{
    width: 35%;
    height: 20%;
    margin-left: 32%;
  }

  .redes{
    margin-left: 28%;
  }
  .boldh3{
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    src: url(LexendGiga-VariableFont_wght.ttf)
    format("truetype");
    font-size: small;
    text-align: left;
    margin-top: 1%;
    margin-left: 7%;
  }
  .column1{
    list-style-type: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    src: url(LexendGiga-VariableFont_wght.ttf)
    format("truetype");
    font-size: small;
    text-align: left;
    color: #f7f7f7;
    margin-top: 10%;
    line-height: 25px;
    margin-left: -5%;
  }

  .boldh3column2{
    font-weight: bold;
    font-size: small;
    margin-left: 75%;
    margin-top: 1%;
  }
  .column2{
    list-style-type: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    src: url(LexendGiga-VariableFont_wght.ttf)
    format("truetype");
    font-size: small;
    text-align: right;
    color: #f7f7f7;
    line-height: 25px;
    margin-bottom: 50%;
    margin-right: 7%;
    margin-top: -28%;
  }
  
  #ending{
    text-align: center;
    margin-left: 27.5%;
  }
 
  .subtitulo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    src: url(LexendGiga-VariableFont_wght.ttf)
    format("truetype");
    font-weight: lighter;
    font-size: small;
    margin-right: 30%;
    margin-top: -9%;
  }

  .x{
    width: 20px;
    height: 20px;
    margin-left: 80%;
    margin-top: 5%;
  }
} @media only screen and (min-width: 820px) /*tablet*/{
  *{
    margin: 0%;
    
  }

  .carousel-container {
    position: relative;
    text-align: justify;
    width: 100%;
    overflow: visible;
    border-radius: 20px;
  }

  .carousel {
    display: flex;
    transition: transform 2s ease-in-out;
  }

  .carrossel {
    width: 97%;
    height: 338px;
    margin-left: 10px;
  }

  .legenda{
    position: absolute;
    top: 130%;
    right: 40%;
    left: 4%;
    right: 3%;
    color: #f7f7f7;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    src: url(LexendGiga-VariableFont_wght.ttf)
    format("truetype");
  }
  body{
    background-color: #201919;
  }
  #Destaques{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    src: url(LexendGiga-VariableFont_wght.ttf)
    format("truetype");
    color: #f7f7f7;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 10%;
    margin-left: 1.94%;
  }
  .squareone{
   margin-top: 8.33%;
   margin-left: 9.72%;
   width: 90.28%;
   height: 7.43%;
  }
  #capa1{
    width: 20%;
    height: 20%;
    border-radius: 20px;
  }
  .PRIh1{
    font-size: large;
    float: right;
    margin-right: 38%;
    margin-top: 7%;
    color: #f7f7f7;
  }
  .squaretwo{
    margin-top: 2.7%;
    margin-left: 9.72%;
    width: 90.28%;
    height: 7.43%;
   }
   #capa2{
    width: 20%;
    height: 20%;
    border-radius: 20px;
  }
  .SEGh1{
    font-size: large;
    float: right;
    margin-left: 5%;
    margin-right: 38%;
    margin-top: 6%;
    color: #f7f7f7;
  }

  .squarethree{
    margin-top: 2.7%;
    margin-left: 9.72%;
    width: 90.28%;
    height: 7.43%;
   }
   #capa3{
     width: 20%;
     height: 20%;
     border-radius: 20px;
   }
   .TREh1{
     font-size: large;
     float: right;
     margin-right: 34%;
     margin-top: 6%;
     color: #f7f7f7;
   }

   .playy{
    width: 20%;
    position: absolute;
    margin-left: 80%;
    margin-top: -20%;
   } 
   .menus{
    margin-left: 100%;
    display: grid;
    gap: 7%;
    grid-auto-flow: column;
    grid-auto-columns: 9%;
    overflow: auto;
    overscroll-behavior-inline: contain;
    margin-inline: 10px;
   }
/*06/11 - menu hambúrguer*/
   h2{
    position: relative;
    margin-top: 119px;
    margin-left: -157px;
    text-align: center;
    color: #f7f7f7;
    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    src: url(LexendGiga-VariableFont_wght.ttf)
   }
   .image{
    width: 90px;
    height: 90px;
    margin-left: 40%;
   }
   
   .playbutton{
    position: absolute;
    margin-left: 47%;
    margin-top: 18%;
   }

   .playbutton1{
    position: absolute;
    margin-left: 19%;
    margin-top: 18%;
   }

   .image > img{
    inline-size: 100%;
    aspect-ratio: 9 / 9;
   }

   .titulo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    src: url(LexendGiga-VariableFont_wght.ttf)
    format("truetype");
    color: #f7f7f7;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: x-large;
    margin-left: 3.94%;  
    margin-top: 10%;
   }
  
   aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 60%;
    margin-top: 20%;
    float: right;
    position: absolute;
  }
  
  a {
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: white;
    text-decoration: underline;
  }
  
  #menuToggle {
    display: block;
    position: relative;
    left: 107%;
    margin-top: 48%;
    z-index: 1;
    user-select: none;
  }
  
  #menuToggle input {
    display: block;
    width: 30px;
    height: 22px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;  
    opacity: 0;
    z-index: 2;
  }
  
  #menuToggle span {
    display: block;
    width: 4px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;  
    background: #f7f7f7;
    border-radius: 3px;
  }
  
  #menuToggle input:checked ~ span {
    opacity: 1;
    position: relative;
    transform: initial;
    background: whitesmoke;    
  }
  
  #menu {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    src: url(LexendGiga-VariableFont_wght.ttf)
    format("truetype");
    color: #f7f7f7;
    position: absolute;
    display: block;
    width: 300px;
    height: 300px;
    margin: -30px 50px 20px -293px;
    background: #4D3784;
    list-style-type: none;  
    transform: translate(100%, 0%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    text-align: left;
    border-radius: 20px;
  }

  #menu li
  {
    padding: 10px 0;
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    src: url(LexendGiga-VariableFont_wght.ttf)
    format("truetype");
    color: #f7f7f7;
  }
  
  #menuToggle input:checked ~ ul {
    transform: none;
  }
 .fundo-pop-up{
  border-radius: 10px;
  margin-top: 5%;
  margin-left: 6%;
  margin-right: 20%;
  width: 89%;
 }
 h3{
  position: absolute;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  src: url(LexendGiga-VariableFont_wght.ttf)
  format("truetype");
  font-size: medium;
  font-weight: lighter;
  color: white;
  margin-top: -12%;
  margin-left: 9%;
  margin-right: 11%;
  text-align: justify;
 }

  .singers{
    margin-top: 30%;
    width: 90px;
    height: 90px;
    border-radius: 100px;
    margin-left: 48%;
  }

  footer{
    background-color: rgb(56, 48, 48);
  }
  
  .logo{
    width: 45%;
    height: 20%;
    margin-left: 29%;
  }

  .redes{
    margin-left: 39%;
    width: 23%;
  }
  .boldh3{
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    src: url(LexendGiga-VariableFont_wght.ttf)
    format("truetype");
    font-size: larger;
    text-align: left;
    margin-top: 4%;
    margin-left: 7%;
  }
  .column1{
    list-style-type: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    src: url(LexendGiga-VariableFont_wght.ttf)
    format("truetype");
    font-size: larger;
    text-align: left;
    color: #f7f7f7;
    margin-top: 10%;
    line-height: 40px;
    margin-left: 5%;
  }


  .column2{
    list-style-type: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    src: url(LexendGiga-VariableFont_wght.ttf)
    format("truetype");
    font-size: larger;
    text-align: right;
    color: #f7f7f7;
    line-height: 40px;
    margin-bottom: 35%;
    margin-right: 7%;
    margin-top: -20%;
  }
  
  #ending{
    text-align: center;
    margin-left: 27.5%;
    font-size: large;
    margin-left: 34%;
  }
 
  .subtitulo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    src: url(LexendGiga-VariableFont_wght.ttf)
    format("truetype");
    font-weight: lighter;
    font-size: large;
    margin-right: 43%;
    margin-top: -19%;
  }

  .x{
    width: 20px;
    height: 20px;
    margin-left: 80%;
    margin-top: 5%;
  }
}